body{
    margin: 0;
    padding: 0;
    background-color: #43fdfd96;
  
}

.left{
    height: 100vh;
    position: fixed;
    width: 6vw;

}

.marqueeimg{
    display: block;
    width: 5vw;
}

#right{
    right: 0;
   
}
.name-box{
    background-image: url(christmas-3026685.jpg);
    background-size: cover;
    height: 100vh;
    background-position-y:-200px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30vw;
    font-size: 4vw;
}


.animated-text {
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 8vw;
      margin: 0;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.light{
    animation: lights 5s 750ms linear infinite;
}

@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }

  p{
    margin: 5px;
  }
  .second{
    background-image: url(happy.jpg);
    background-size: cover;
    height: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
  }

  .quotes{
    width: 300px;
    text-align: center;
    margin-top: 20vh;
    font-size: 2vw;
    text-align: center;
    margin-top: 15vh;
    font-size: 2vw;
  }
  .audio-box{
    /* width: 500px; */
    display: grid;
    display: grid;
    justify-items: center;
    margin: 6vh 0;
  }
 .btn-box{
  width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 30px 0;

 }



  .btn-7 {
background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
  width: 200px;
  border-radius: 25px;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251,75,2,1);
  box-shadow:
   -7px -7px 20px 0px rgba(255,255,255,.9),
   -4px -4px 5px 0px rgba(255,255,255,.9),
   7px 7px 20px 0px rgba(0,0,0,.2),
   4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn-7:before{
   height: 0%;
   width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover{
  color: rgba(251,75,2,1);
  background: transparent;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251,75,2,1);
  box-shadow:
   -7px -7px 20px 0px rgba(255,255,255,.9),
   -4px -4px 5px 0px rgba(255,255,255,.9),
   7px 7px 20px 0px rgba(0,0,0,.2),
   4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 0%;
}
.btn-7 span:after {
  height: 2px;
  width: 0%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}

.form-box{
  width: 100%;
  display: flex;
  /* align-content: center; */
  justify-content: center;
  position: fixed;
  bottom: 0;
  background-color: aqua;
  padding: 5px;
}

.form-box input{
  border: 1px solid;
  border-radius: 40px;
  margin-right: 5px;
}



/* rsponsiv  */

@media  (max-width: 800px) {
  


.name-box{
  height: 40vh;
  background-position: 0;
}
.quotes{
  font-size: 5vw;
  display: block;
  margin: 3px auto;
  /* backdrop-filter: blur(12px); */
  background-color: bisque;
  padding: 20px 5px;
  border-radius: 20px 
}
.btn-7{
  width: 175px;
  margin: 5px;
}
.btn-box{
  width: 100%;
}
.second{
  background-size: contain;
    height: 280px;
}
.left{
  width: 10vw;
}
.marqueeimg{
  width: 10vw;
}
}



